/* Style the tab */
div.dataTables_wrapper {
    margin-bottom: 3em;
}

body {font-family: Arial;}


.tab {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


/* Style the links inside the list items */
.tab button {
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontentdisease {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
div[class*="tabcontentdisease"]:first-of-type {
    display: block;
}