<div [hidden]="concenDataStatus">
        Wait! We are pulling Concentration Data....
</div>

<div class="container-fluid" *ngIf="foundHits > 0">
    <br>
    <ul class="tab">
      <button class="tablinksconcen active" (click)="openTabsConcen($event, 'concenRange')">Concentration Range</button>
      <button class="tablinksconcen" (click)="openTabsConcen($event, 'str')">Strain</button>
      <button class="tablinksconcen" (click)="openTabsConcen($event, 'knock')" >knockout</button>
      <button class="tablinksconcen" (click)="openTabsConcen($event, 'biomat')">Biological Matrix</button>
      <button class="tablinksconcen" (click)="openTabsConcen($event, 'sex')">Sex</button>
    </ul>
    <div id="concenRange" class="tabcontentconcen">
      <div *ngIf="foundHits > 0">
        <div *ngIf="conclistlen > 0">
              <select [(ngModel)]="selected" (change)='onOptionsSelected($event)' *ngIf="plotlyData.length > 0" >
                <option *ngFor="let opt of plotDataOptions" [ngValue]="opt"> {{ opt.name }} </option>
              </select>

                <br>
                <div id="myDivConcAll"></div>
                <br>
                <div>
                  <table  id="dataTables-wrkld-concentration" datatable [dtOptions]="dtOptions" class="display cell-border" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                            <th></th>
                            <th>UniProtKB accession</th>
                            <th>Protein</th>
                            <th>Peptide sequence</th>
                            <th>Mutant</th>
                            <th>Biological matrix</th>
                            <th>Strain</th>
                            <th>Sex</th>
                            <th>Sample Total Protein Mean Content.<sup>+</sup><br> </th>
                            <th>Mean Conc.*<br> </th>
                            <th>Min Conc.*<br></th>
                            <th>Max Conc.*<br></th>
                            <th>Nr. samples (Quantified/Measured)<br> </th>
                            <th>Plot Name <br> </th>
                            <th>Plot Data <br> </th>
                            <th>Sample LLOQ and ULOQ Based Plot Data<br> </th>
                            <th>Sample LLOQ<br> </th>
                            <th>ULOQ<br> </th>
                          </tr>
                      </thead>

                      <tbody>
                          <tr *ngFor="let items of conclist">
                              <td></td>
                              <td>{{items[15]}}</td>
                              <td>{{items[16]}}</td>
                              <td>{{items[17]}}</td> 
                              <td>{{items[1]}}</td>
                              <td>{{items[2]}}</td>
                              <td>{{items[3]}}</td>                                    
                              <td>{{items[4]}}</td>
                              <td>{{items[7]}}</td>
                              <td>{{items[6]}}</td>
                              <td>{{items[9]}}</td>
                              <td>{{items[12]}}</td>
                              <td>{{items[5]}}</td>
                              <td>{{items[18]}}</td>
                              <td>{{items[19]}}</td>
                              <td>{{items[20]}}</td>
                              <td>{{items[21]}}</td>
                              <td>{{items[22]}}</td>

                           </tr>
                      </tbody>
                  </table>
                </div>
                <div>
                  <p>+Unit-{{sampleConcUnit}}</p>
                  <p>*Unit-fmol target protein/µg extracted protein</p>
                </div>
        </div>

        <div *ngIf="conclistlen == 0">
           <p>No Concentration data matched with your search criteria.</p>
        </div>
      </div>
      <div *ngIf="foundHits == 0">
         <p>No Concentration data matched with your search criteria.</p>
      </div>

    </div>
    <div id="str" class="tabcontentconcen">
      <div id="myDivConcStrain" ></div>
      <div *ngIf="strainDataLen > 0">
        <table id=""  datatable  [dtOptions]="dtOptionsOther" class="display cell-border" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Strain</th>
              <th>Biological matrix</th>
              <th>Sex</th>
              <th>Mutant</th>
              <th>Mean concentration</th>
              <th>Details</th>
              <th>Peptide sequence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of strainDataTableData">
              <td [innerHTML]="items[0]"></td>
              <td [innerHTML]="items[1]"></td>
              <td [innerHTML]="items[2]"></td>
              <td [innerHTML]="items[3]"></td>
              <td>{{items[4]}}</td>
              <td [innerHTML]="items[5]"></td>
              <td [innerHTML]="items[6]"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="knock" class="tabcontentconcen">
      <div id="myDivConcKnockout" ></div>
      <div *ngIf="knockoutDataLen > 0">
        <table id=""  datatable  [dtOptions]="dtOptionsOther" class="display cell-border" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Mutant</th>
              <th>Biological matrix</th>
              <th>Sex</th>
              <th>Strain</th>
              <th>Mean concentration</th>
              <th>Details</th>
              <th>Peptide sequence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of knockoutDataTableData">
              <td [innerHTML]="items[0]"></td>
              <td [innerHTML]="items[1]"></td>
              <td [innerHTML]="items[2]"></td>
              <td [innerHTML]="items[3]"></td>
              <td>{{items[4]}}</td>
              <td [innerHTML]="items[5]"></td>
              <td [innerHTML]="items[6]"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="biomat" class="tabcontentconcen">
      <div id="myDivConcBioMat" ></div>
      <div *ngIf="bioMatDataLen > 0">
        <table id=""  datatable  [dtOptions]="dtOptionsOther" class="display cell-border" cellspacing="0" width="100%">
          <thead>
              <tr>
                <th>Biological matrix</th>
                <th>Sex</th>
                <th>Strain</th>
                <th>Mutant</th>
                <th>Mean concentration</th>
                <th>Details</th>
                <th>Peptide sequence</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let items of bioMatDataTableData">
                <td [innerHTML]="items[0]"></td>
                <td [innerHTML]="items[1]"></td>
                <td [innerHTML]="items[2]"></td>
                <td [innerHTML]="items[3]"></td>
                <td>{{items[4]}}</td>
                <td [innerHTML]="items[5]"></td>
                <td [innerHTML]="items[6]"></td>
              </tr>
              
            </tbody>
        </table>
      </div>
    </div>
    <div id="sex" class="tabcontentconcen">
      <div id="myDivConcSex" ></div>
      <div *ngIf="sexDataLen > 0">
        <table id=""  datatable  [dtOptions]="dtOptionsOther" class="display cell-border" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Sex</th>
              <th>Biological matrix</th>
              <th>Strain</th>
              <th>Mutant</th>
              <th>Mean concentration</th>
              <th>Details</th>
              <th>Peptide sequence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of sexDataTableData">
              <td [innerHTML]="items[0]"></td>
              <td [innerHTML]="items[1]"></td>
              <td [innerHTML]="items[2]"></td>
              <td [innerHTML]="items[3]"></td>
              <td>{{items[4]}}</td>
              <td [innerHTML]="items[5]"></td>
              <td [innerHTML]="items[6]"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="container-fluid" *ngIf="foundHits == 0">
  <p>No Concentration data matched with your search criteria.</p>
</div>