div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.modal-header {
  background-color: #00994C;
  color: white;
  border-radius: 5px 5px 0px 0px;
  margin: 0 auto;
}