/* You can add global styles to this file, and also import other style files */
body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  min-width: 100%;
  max-height: 100%;
  padding-bottom: 70px;
  padding-top: 51px;
}


.navbar-header { 
	height: 50px; 

}
.navbar-fixed-top {
  margin-bottom: 1px;
  background-color: #009900;
  border-color: #878A46;
}

.navbar-default .navbar-brand{
	color:#FFF;
}

.navbar-default .navbar-brand:hover {
	color:#777;
}

.navbar-brand img {
    max-width: 100%; 
    height: 40px; 
    margin-left: 5px;
}

.navbar .navbar-brand {
  padding-top: 5px;
}
.text-align-center {text-align: center; color:blue;}



.nav.navbar-nav.navbar-right li a {
    color: #FFF;
    top: 10px;
}

.nav.navbar-nav.navbar-right li a:hover{
    color: #777;
}


.nav.navbar-nav li a{
	color:#FFF;
	font-size: 18px;
}

.nav.navbar-nav li a:hover {
	color:#777;
	font-size: 18px;
}

.nav.navbar-nav.navbar-right .dropdown-menu>li>a {
  color:#FFF;
  background-color: #364E70;
	font-size: 18px;
	overflow: hidden;
}
.nav.navbar-nav.navbar-right .dropdown-menu>li>a:hover {
  color:#777;
  background-color: #364E70;
	font-size: 18px;
	overflow: hidden;
}

.main-container {
    min-height: 800px;
    margin-bottom: 20px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.wrapper{
    overflow: hidden;
    padding: 0em 0em 5em 0em;
    background: #FFF;
    top: 150px;
    position: absolute;
    z-index: 0;
}

.odometer {
    font-size: 24px;
}

input[type=text] {
    width:100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('{% static "img/search-icon.png" %}');*/
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.dataTables_empty {
  display: none;
}

.my_button_space_class{
    margin-right :20px; 
}
td.details-control-pep {
    text-align:center;
    color:blue;
    cursor: pointer;
}
td.details-control-pep i.fa-minus-square {
  text-align:center; 
  color:forestgreen;
}
td.details-control-biomatrix {
    text-align:center;
    color:blue;
    cursor: pointer;
}
td.details-control-biomatrix i.fa-minus-square {
  text-align:center; 
  color:forestgreen;
}

td.details-control-strainCol {
    text-align:center;
    color:blue;
    cursor: pointer;
}
td.details-control-strainCol i.fa-minus-square {
  text-align:center; 
  color:forestgreen;
}
td.details-control-sexCol {
    text-align:center;
    color:blue;
    cursor: pointer;
}
td.details-control-sexCol i.fa-minus-square {
  text-align:center; 
  color:forestgreen;
}

td.details-control-knockoutCol {
    text-align:center;
    color:blue;
    cursor: pointer;
}
td.details-control-knockoutCol i.fa-minus-square {
  text-align:center; 
  color:forestgreen;
}
td.details-control-concenCol {
    text-align:center;
    color:blue;
    cursor: pointer;
}
td.details-control-concenCol i.fa-minus-square {
  text-align:center; 
  color:forestgreen;
}

td.details-control-expCol {
    text-align:center;
    color:blue;
    cursor: pointer;
}
td.details-control-expCol i.fa-minus-square {
  text-align:center; 
  color:forestgreen;
}

.td-limit {
    max-width: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.centerBlock {
    display: table;
    margin: auto;
}